/* Main Header */
#main-header {
    background-color: #2C3E50;
}

#main-header a {
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

/* Jumbotron */
#jumbotron {
    background-color: #1ABC9C;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
}

#jumbotron img {
    width: 50%;
}

#jumbotron .h-rule {
    background-color: #FFF;
}

/* Portfolio Section */
#portfolio {
    color: #2C3E50;
    text-align: center;
    text-transform: uppercase;
}

#portfolio .h-rule {
    background-color: #2C3E50;
}

/* About Section */
#about {
    background-color: #1ABC9C;
    color: #FFF;
    text-align: center;
}

#about h2 {
    text-transform: uppercase;
}

#about p {
    text-align: left;
}

#about .h-rule {
    background-color: #FFF;
}

/* Contact Me Section */
#contacts {
    color: #2C3E50;
}

#contacts h2 {
    text-align: center;
    text-transform: uppercase;
}

#contacts .btn {
    background-color: #1ABC9C;
    color: #FFF;
}

#contacts .form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid darkgray;
    padding-left: 0;
}

#contacts .h-rule {
    background-color: #2C3E50;
}

#contacts ::placeholder {
    color: #2C3E50;
}

/* Main Footer */
#main-footer > .main-footer-top {
    background-color: #3A546D;
}

#main-footer > .main-footer-bottom {
    background-color: #2C3E50;
}

/* Utilities */
.h-rule {
    height: 4px;
    width: 15%;
    border-radius: 5px;
}